CREATE DATABASE HieuSach
go
USE [HieuSach]
GO
/****** Object:  Table [dbo].[author]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](255) NULL,
	[name_author] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](255) NULL,
	[link] [varchar](255) NOT NULL,
	[position] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [nvarchar](255) NULL,
	[description] [nvarchar](4000) NULL,
	[image] [varchar](255) NULL,
	[price] [bigint] NOT NULL,
	[price_enter] [bigint] NOT NULL,
	[price_sale] [bigint] NOT NULL,
	[profit] [int] NULL,
	[publication_year] [int] NULL,
	[sale] [int] NULL,
	[star] [float] NULL,
	[status] [bit] NULL,
	[author_id] [int] NULL,
	[category_id] [int] NULL,
	[publicsher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [bigint] NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[book_id] [int] NULL,
	[cart_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
	[category_status] [bit] NULL,
	[img] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detail_receipt]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detail_receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[book_id] [int] NULL,
	[receipt_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favourite]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favourite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favourite_item]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favourite_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NULL,
	[favourite_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_products]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NULL,
	[book_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [bigint] NOT NULL,
	[quantity] [int] NULL,
	[status_rate] [int] NULL,
	[book_id] [int] NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address_ship] [nvarchar](255) NULL,
	[date_order] [datetime2](6) NULL,
	[full_name] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[phone] [varchar](255) NULL,
	[status] [int] NULL,
	[sum_money] [bigint] NOT NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publicsher]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publicsher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_publicsher] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receipt]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_added] [datetime2](6) NULL,
	[sum_money] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](255) NULL,
	[rating] [nvarchar](255) NULL,
	[review_date] [datetime2](6) NULL,
	[star] [int] NULL,
	[book_id] [int] NULL,
	[detail_order_id] [int] NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[code_otp] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[enabled] [bit] NULL,
	[full_name] [nvarchar](255) NULL,
	[gender] [int] NULL,
	[img] [nvarchar](255) NULL,
	[img_cover] [nvarchar](255) NULL,
	[pass_word] [nvarchar](255) NULL,
	[telephone] [varchar](255) NULL,
	[user_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_roles]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 25/11/2023 5:21:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[book_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([id], [img], [name_author]) VALUES (1, N'', N'Takahashi Rumiko')
INSERT [dbo].[author] ([id], [img], [name_author]) VALUES (2, N'', N'Makoto Shinkai')
INSERT [dbo].[author] ([id], [img], [name_author]) VALUES (3, N'', N'Hans Christian Andersen')
SET IDENTITY_INSERT [dbo].[author] OFF
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([id], [img], [link], [position], [status]) VALUES (2, N'banner2.jpg', N'', 3, 1)
INSERT [dbo].[banner] ([id], [img], [link], [position], [status]) VALUES (3, N'banner1.jpg', N'', 4, 1)
INSERT [dbo].[banner] ([id], [img], [link], [position], [status]) VALUES (1005, N'banner7.png', N'', 1, 1)
SET IDENTITY_INSERT [dbo].[banner] OFF
GO
SET IDENTITY_INSERT [dbo].[book] ON 

SET IDENTITY_INSERT [dbo].[book] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [total], [user_id]) VALUES (1, NULL, 1)
INSERT [dbo].[cart] ([id], [total], [user_id]) VALUES (2, NULL, 2)
INSERT [dbo].[cart] ([id], [total], [user_id]) VALUES (3, NULL, 3)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [category_name], [category_status], [img]) VALUES (1, N'Truyện tranh', 1, N'bedroom-at-night-dark-bedroom-white-moonlight-shine-intothe-room-wintertime-outside-little-boy-s-597081174.png')
INSERT [dbo].[categories] ([id], [category_name], [category_status], [img]) VALUES (2, N'Thiếu nhi', 1, N'money-adventures-for-young-explorers-kidscartoon-style-668232488.png')
INSERT [dbo].[categories] ([id], [category_name], [category_status], [img]) VALUES (3, N'Văn học', 1, N'a-closed-chapter-show-a-book-closing-with-a-chapter-titled-the-past-as-the-sun-rises-on-a-new-cha-761074171 (1).png')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[favourite] ON 

INSERT [dbo].[favourite] ([id], [user_id]) VALUES (1, 1)
INSERT [dbo].[favourite] ([id], [user_id]) VALUES (2, 2)
INSERT [dbo].[favourite] ([id], [user_id]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[favourite] OFF
GO
SET IDENTITY_INSERT [dbo].[favourite_item] ON 

INSERT [dbo].[favourite_item] ([id], [book_id], [favourite_id]) VALUES (1, 3, 2)
INSERT [dbo].[favourite_item] ([id], [book_id], [favourite_id]) VALUES (2, 9, 2)
INSERT [dbo].[favourite_item] ([id], [book_id], [favourite_id]) VALUES (3, 16, 2)
SET IDENTITY_INSERT [dbo].[favourite_item] OFF
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([id], [price], [quantity], [status_rate], [book_id], [order_id]) VALUES (1, 90000, 1, 1, 8, 1)
INSERT [dbo].[order_detail] ([id], [price], [quantity], [status_rate], [book_id], [order_id]) VALUES (2, 48000, 1, 1, 2, 2)
INSERT [dbo].[order_detail] ([id], [price], [quantity], [status_rate], [book_id], [order_id]) VALUES (3, 50000, 1, 1, 12, 2)
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [address_ship], [date_order], [full_name], [note], [phone], [status], [sum_money], [user_id]) VALUES (1, N'hòa bình', CAST(N'2023-11-19T17:59:33.0590000' AS DateTime2), N'Khánh', N'', N'0989068747', 3, 90000, 2)
INSERT [dbo].[orders] ([id], [address_ship], [date_order], [full_name], [note], [phone], [status], [sum_money], [user_id]) VALUES (2, N'Nam Định', CAST(N'2023-11-19T18:22:37.9130000' AS DateTime2), N'Nguyễn Ngọc Duy ', N'okee', N'0947669387', 3, 110000, 1)
INSERT [dbo].[orders] ([id], [address_ship], [date_order], [full_name], [note], [phone], [status], [sum_money], [user_id]) VALUES (3, N'Hòa Bình', CAST(N'2023-11-19T18:28:29.6200000' AS DateTime2), N'Trần Đức Khánh', N'', N'0989906873', 3, 703000, 2)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[publicsher] ON 

INSERT [dbo].[publicsher] ([id], [name_publicsher]) VALUES (1, N'NXB Kim Đồng')
INSERT [dbo].[publicsher] ([id], [name_publicsher]) VALUES (2, N'NXB Trẻ')
INSERT [dbo].[publicsher] ([id], [name_publicsher]) VALUES (3, N'NXB Hoa Học Trò')
SET IDENTITY_INSERT [dbo].[publicsher] OFF
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([id], [img], [rating], [review_date], [star], [book_id], [detail_order_id], [user_id]) VALUES (1, N'2023-11-19-18-1-6.jpeg', N'giao hàng nhanh', CAST(N'2023-11-19T18:01:15.3090000' AS DateTime2), 5, 8, 1, 2)
INSERT [dbo].[review] ([id], [img], [rating], [review_date], [star], [book_id], [detail_order_id], [user_id]) VALUES (2, N'2023-11-19-18-24-27.jpeg', N'okeee', CAST(N'2023-11-19T18:24:50.9000000' AS DateTime2), 5, 2, 2, 1)
INSERT [dbo].[review] ([id], [img], [rating], [review_date], [star], [book_id], [detail_order_id], [user_id]) VALUES (3, NULL, N'sản phẩm đúng với mô tả', CAST(N'2023-11-19T18:25:19.5340000' AS DateTime2), 5, 5, 4, 1)
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [birthday], [code_otp], [email], [enabled], [full_name], [gender], [img], [img_cover], [pass_word], [telephone], [user_name]) VALUES (1, N'Nam Định', CAST(N'2003-07-21' AS Date), NULL, N'duy2172003@gmail.com', NULL, N'Nguyễn Ngọc Duy', 1, N'2023-11-19-18-14-44.gif', N'coverdefault.png', N'$2a$10$qXAPzBE0zPO9LVEICIgc4OHQYRJjRcQKIo3IzUEm3SK0yJS03ciO.', N'0947669387', N'duy')
INSERT [dbo].[users] ([id], [address], [birthday], [code_otp], [email], [enabled], [full_name], [gender], [img], [img_cover], [pass_word], [telephone], [user_name]) VALUES (2, NULL, NULL, NULL, N'xanoi586@gmail.com', NULL, N'Trần Đức Khánh', 1, N'2023-11-19-19-3-51.png', N'coverdefault.png', N'$2a$10$5WsqHu1ZLiTLRV4/2LpQ1ubWmz4OrfEVX2HXBqz2VF8ahQutjUMia', NULL, N'duckhanh')
INSERT [dbo].[users] ([id], [address], [birthday], [code_otp], [email], [enabled], [full_name], [gender], [img], [img_cover], [pass_word], [telephone], [user_name]) VALUES (3, NULL, NULL, NULL, N'duy272494@gmail.com', NULL, N'Huy', 1, N'2023-11-19-19-17-39.jpeg', N'coverdefault.png', N'$2a$10$fE/f1PKdntOkF4AdGoJLj..McqPRSRLUGpgKyrj0lt00Xow/NCUi6', NULL, N'huy')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse] ON 

INSERT [dbo].[warehouse] ([id], [quantity], [book_id]) VALUES (1, 0, 1)
INSERT [dbo].[warehouse] ([id], [quantity], [book_id]) VALUES (2, 0, 2)
INSERT [dbo].[warehouse] ([id], [quantity], [book_id]) VALUES (3, 0, 3)
SET IDENTITY_INSERT [dbo].[warehouse] OFF
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK7jv5rwmalxg0a02a3ublrk0j2] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK7jv5rwmalxg0a02a3ublrk0j2]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FKfl0iaofdbp1rfe46ku7jp8knx] FOREIGN KEY([publicsher_id])
REFERENCES [dbo].[publicsher] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FKfl0iaofdbp1rfe46ku7jp8knx]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FKklnrv3weler2ftkweewlky958] FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FKklnrv3weler2ftkweewlky958]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FKg5uhi8vpsuy0lgloxk2h4w5o6] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FKg5uhi8vpsuy0lgloxk2h4w5o6]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK1uobyhgl1wvgt1jpccia8xxs3] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK1uobyhgl1wvgt1jpccia8xxs3]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FKis5hg85qbs5d91etr4mvd4tx6] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FKis5hg85qbs5d91etr4mvd4tx6]
GO
ALTER TABLE [dbo].[detail_receipt]  WITH CHECK ADD  CONSTRAINT [FKccwdmfss4o7s0bgg8v539dgu0] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[detail_receipt] CHECK CONSTRAINT [FKccwdmfss4o7s0bgg8v539dgu0]
GO
ALTER TABLE [dbo].[detail_receipt]  WITH CHECK ADD  CONSTRAINT [FKfrt9w4jlvspxrmx8nrex7gj3d] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[receipt] ([id])
GO
ALTER TABLE [dbo].[detail_receipt] CHECK CONSTRAINT [FKfrt9w4jlvspxrmx8nrex7gj3d]
GO
ALTER TABLE [dbo].[favourite]  WITH CHECK ADD  CONSTRAINT [FKrylb2w10mvr2e6cwbisk75obj] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[favourite] CHECK CONSTRAINT [FKrylb2w10mvr2e6cwbisk75obj]
GO
ALTER TABLE [dbo].[favourite_item]  WITH CHECK ADD  CONSTRAINT [FKqixgqbohw7fdho6ul1ktsc9f8] FOREIGN KEY([favourite_id])
REFERENCES [dbo].[favourite] ([id])
GO
ALTER TABLE [dbo].[favourite_item] CHECK CONSTRAINT [FKqixgqbohw7fdho6ul1ktsc9f8]
GO
ALTER TABLE [dbo].[favourite_item]  WITH CHECK ADD  CONSTRAINT [FKrj8wtcslsd94ove68tjxwu6n] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[favourite_item] CHECK CONSTRAINT [FKrj8wtcslsd94ove68tjxwu6n]
GO
ALTER TABLE [dbo].[image_products]  WITH CHECK ADD  CONSTRAINT [FKcenee1v8lpt1yb1nvs47mlnpp] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[image_products] CHECK CONSTRAINT [FKcenee1v8lpt1yb1nvs47mlnpp]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK3aceepmpjwpo8pdn7gmjdfckq] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK3aceepmpjwpo8pdn7gmjdfckq]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK2lsjq50782j7degc8ehmjng2w] FOREIGN KEY([detail_order_id])
REFERENCES [dbo].[order_detail] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK2lsjq50782j7degc8ehmjng2w]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK6cpw2nlklblpvc7hyt7ko6v3e] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK6cpw2nlklblpvc7hyt7ko6v3e]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK70yrt09r4r54tcgkrwbeqenbs] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK70yrt09r4r54tcgkrwbeqenbs]
GO
ALTER TABLE [dbo].[users_roles]  WITH CHECK ADD  CONSTRAINT [FK2o0jvgh89lemvvo17cbqvdxaa] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[users_roles] CHECK CONSTRAINT [FK2o0jvgh89lemvvo17cbqvdxaa]
GO
ALTER TABLE [dbo].[users_roles]  WITH CHECK ADD  CONSTRAINT [FKt4v0rrweyk393bdgt107vdx0x] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[users_roles] CHECK CONSTRAINT [FKt4v0rrweyk393bdgt107vdx0x]
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK5m8bdjdsrod9nvrfmm2a81vrj] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK5m8bdjdsrod9nvrfmm2a81vrj]
GO
